/* Variables */
$masthead-bg: #428bca;
$masthead-border: #3D7FB9;
$navbar-text-color: #ECECEC;
$light-font: #999999;

/* Styles */
.navbar {
    border-radius: 0;
}

.navbar-default, .navbar-inverse {
    background-color: $masthead-bg;
    border-color: $masthead-border;

    .navbar-brand {
        color: $navbar-text-color;
    }

    .navbar-nav>li>a {
        color: $navbar-text-color;
    }
}

.blog-header {
    .blog-title {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 60px;
        font-weight: normal;
    }

    .blog-description {
        color: $light-font;
    }
}

article {
    img {
        width: 100%;
    }
}
