<h4 class="blog-description">{{ SITESUBTITLE }}</h4>

<h4>Follow me on...</h4>
<ul class="nav nav-pills nav-stacked">
    {% for name, link, icon in SOCIAL %}
        <li>
            <a href="{{ link }}" target="_blank">
                <i class="fa {{ icon }}"></i>&nbsp;{{ name }}
            </a>
        </li>
    {% endfor %}
</ul>

<h4>Categories</h4>
<ul class="nav nav-pills nav-stacked">
{% for cat, articles in categories %}
    <li {% if cat == category %}class="active"{% endif %}>
        <a href="{{ SITEURL }}/{{ cat.url }}">
            {{ cat }} <span class="badge">{{ articles|count }}</span>
        </a>
    </li>
{% endfor %}
</ul>

<h4>Blogroll</h4>
<ul class="nav nav-pills nav-stacked">
    {% for name, link in LINKS %}
        <li><a href="{{ link }}" target="_blank">{{ name }}</a></li>
    {% endfor %}
</ul>
